 #profileContainer{
    margin: 0 auto;
    width: 62%;
    padding: 20px 50px 50px 50px;
    border-style: groove;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

  .icon{
    margin-right: 10px;
    font-size: large;
  }

  .profileSection{
    row-gap: 10px;
  }
  
  .contact{
    margin-left: 20px;
  }

  .about{
     max-height: 200px;
     word-break: break-all;
     overflow-y: auto;
  }

  .fullName{
    font-size: 35px;
  }

  .profileSubContainer{
    margin-bottom: auto;
  }

  #profileContainer section{
    margin-bottom: 25px;
  }
