/* ################
Global styles
##################*/

body{margin-top: 90px;}

#firstcast{
  font-size: 25px; 
}

.title{
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
}

h1,h2,h3,h4,p,::-webkit-input-placeholder, /* Chrome/Opera/Safari */input,button,select,body, li,textarea{
  font-family:'Montserrat', sans-serif;
}

a{text-decoration: none;}

input,select,textarea{
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1.5px solid #aaaaaa;
  box-sizing: border-box;
}

.error,.success{text-align: center}

.error{color: red}

.valid,.success{color: green;}

.success{
  background-color: #90EE90;
  padding: 10px;
}

.inputError{background-color:#ffdddd}

.modalBackground{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  z-index: 1;
}

  /* ################
Button styles
##################*/

button {
  background-color: #4CAF50;
  border-style: solid;
  border-color: black;
  border-width:1px;
  height:auto;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  }

  #submit,.toggleTabBtn{margin-top: 10px;}

  #submit{float: right;}

  button,.dropbtn{
    cursor:pointer;
    position:relative;
  }
  
  button:hover{
  color: lightgray;
  opacity: 0.8;
  }
  

  button:disabled{
    pointer-events: none; 
    opacity:0.6;
  }

  .containerDropdown{
    position: relative;
    display:none;
    float:right;
    font-size: 16px;  
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .containerDropdownContent{    
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .containerDropdown,.containerDropdownContent,.containerDropdownContent button {display: block;}

  .dropdownBtn,.deleteNavBtn{
    background-color: unset;
    border:unset;
    padding: 14px 16px;
    margin: 0;
    width:100%;
    color: unset;
    text-align: start;
  }

.deleteNavBtn{color: red}
   
.deleteNavBtn:hover{
  color: red;
  background-color: lightgray;
}

.dropdownBtn{color:black}

.dropdownBtn:hover{
  color: black;
  background-color: lightgray;
}
  
  /* ################
Form styles
##################*/

form{
  margin: 0px auto;
  width: 60%;
}

.steps{
  text-align: center;
  margin-bottom: 45px
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 50px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  z-index: -1;
}

.step-label{
  display:flex;
  justify-content: center;
  pointer-events: none;
}

.step.active {opacity: 1;}

.step.finish {
  cursor: pointer;
  background-color: #4CAF50;
}
 
.tab.show,.show{display: block;}

.tab.hide,.hide{display: none;}

.list{
  max-height: 150px;
}

  /* ################
Image styles
##################*/

.logo{
  border-radius: 50%;
  width: 100%;
  height: 90px;
  width: min(70vw, 90px);
  border-width: 1.2px;
  border-style: solid;
  object-fit: cover;
}

.banner{
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}

  /* ################
Icons styles
##################*/

.kebabMenuIcon:after{
  float: right;
  cursor:pointer;
  content: '\2807';
  font-size: 35px;
  color:grey;
  }

/* ################
Container styles
##################*/

.Container,.featuredContainer{
    padding: 20px;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 20px;
}

.featuredContainer{
  width: 350px;
  margin-right: 25px;
  box-shadow: 0 0 8px 0  rgba(0,0,0,0.5);
}

.listContainer{
  height: 135px;
  overflow: auto;
}

.containerText{
  height: 100px; 
  overflow: auto;
}