/* ################
Global styles
##################*/

#firstcast{
  font-size: 30px; 
  top:3px;
}

#gap{
  width:100%; 
  height:60px;
}


h1,h2,h3,h4,p,::-webkit-input-placeholder, /* Chrome/Opera/Safari */input,button,select,body, li,textarea{
  font-family:'Montserrat', sans-serif;
}

a{text-decoration: none;}

.nav {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 1;
  }
  
  a{color:black;}

.nav,.dropdown-content,.dropbtn{
  background-color: #333;
}

.nav a {
position: relative;
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
top:10px;
margin:auto;
border-bottom: 3px solid transparent;
}

.nav a.active, .nav a:hover {
  border-bottom: 3px solid white;
  padding: 14px 16px;
  }

.nav a:hover { color:lightgray; }

/* ################
Home styles
##################*/

#home{
  display:flex; 
  justify-content: space-evenly;
}

#you_are{
 text-align: center;
  font-size:60px;
}

.home-container{
  width:400px;
  text-align: center;
} 

.home-heading{
  font-size: 40px;
  margin-bottom: -5px; 
}

.vertical { 
  border-left: 0.5px solid black; 
  height:300px;
  margin-right: 15px;
  } 

  /* ################
Button styles
##################*/

button {
  background-color: #4CAF50;
  border-style: solid;
  border-color: black;
  border-width:1px;
  height:auto;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  }

  button,.dropbtn{
    cursor:pointer;
    position:relative;
  }
  
  button:hover{
  color: lightgray;
  opacity: 0.8;
  }
  

  button:disabled{
    pointer-events: none; 
    opacity:0.6;
  }
  