/* ################
Global styles
##################*/

#firstcast{
  font-size: 25px; 
}

.title{
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
}

#gap{
  width:100%; 
  height:60px;
}

h1,h2,h3,h4,p,::-webkit-input-placeholder, /* Chrome/Opera/Safari */input,button,select,body, li,textarea{
  font-family:'Montserrat', sans-serif;
}

a{text-decoration: none;}

input,select,textarea{
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1.5px solid #aaaaaa;
  box-sizing: border-box;
}

.error,.success{text-align: center}

.error{color: red}

.success{color: green}

.inputError{background-color:#ffdddd}

  /* ################
Button styles
##################*/

button {
  background-color: #4CAF50;
  border-style: solid;
  border-color: black;
  border-width:1px;
  height:auto;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  }

  #submit,.toggleTabBtn{margin-top: 10px;}

  #submit{float: right;}

  button,.dropbtn{
    cursor:pointer;
    position:relative;
  }
  
  button:hover{
  color: lightgray;
  opacity: 0.8;
  }
  

  button:disabled{
    pointer-events: none; 
    opacity:0.6;
  }
  
  /* ################
Form styles
##################*/

form{
  margin: 0px auto;
  width: 60%;
}

.steps{
  text-align: center;
  margin-top: 10px
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 50px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  z-index: -1;
}

.step-label{
  display:flex;
  justify-content: center;
}

.step.active {opacity: 1;}
 
.step.finish {background-color: #4CAF50;}

.show{display: block;}

.hide{display: none;}
  

